@{
    ViewData["Title"] = "Engineering";
}


    <section id="services-container">
        <h1 class="main">School Of Engineering & Technology</h1>
        <div id="services">
            <div class="box">
                <h2 class="h-secondary center">Course Overview</h2>
                <p class="center">
                Course Overview
                The Career Point Institute of Technology aims at
                producing socially responsible engineers who will be 
                leaders and innovators of tomorrow. The graduates will
                be capable of designing and building outstanding technological 
                solutions, and creating and managing enterprises for the development
                of the global economy. The curriculum integrates different area of
                engineering, mathematics and science with arts, humanities and 
                entrepreneurship; and focuses on building a range of life skills 
                essential for a successful career. The institute brings together 
                outstanding academics, industry professionals, experienced researchers 
                and the latest facilities to deliver a unique hands-on and multi-disciplinary
                learning experience. The emphasis is on learning by doing.
                </p>
            </div>
            <div class="box">
            <h2 class="h-secondary center">Course Features</h2>
                <p class="center">
                   <ul>
                    <li>Well equipped advanced labs</li>
                    <li>Highly qualified faculty with practical experience</li>
                    <li>Student Development Programs and Technical Workshops</li>
                    <li>Lectures by industry experts, entrepreneurs and technocrats</li>
                    <li>Paper presentation and opportunity to take part in techno-fests at IITs and NITs</li>
                    <li>Quality Classrooms</li>
                    <li>Pragati Classes</li>
                    <li>Industrial Training</li>
                    <li>Various Quizes and Hackathons</li>
                </ul>
                </p>
            </div>
        </div>
    </section>
 <section id="courses-container">
<div id="courses">
    <div class="box">
            <h2 class= "center">Department of Civil Engineering</h2>
        <ul>
                <li> B.Tech.</li>
                <li> M.Tech.</li>
                <li> P.hD.</li>
        </ul>
    </div>
    <div class="box">

            <h2 class="center">Department of Mechanical Engineering</h2>
            <ul>
                <li> B.Tech.</li>
                <li> M.Tech.</li>
                <li> P.hD.</li>
            </ul>
    </div>
    <div class="box">
            <h2 class="center">Department of Computer Science & Engineering</h2>
            <ul>
                <li> B.Tech.</li>
                <li> M.Tech.</li>
                <li> P.hD.</li>
            </ul>
    </div>
</div>
    </section>


