@model HomeViewModel
@{
	ViewData["Titl"] = "Home Page";
}
<div class="container">
	<div class="row">
		<div class="main">
			<div class="text-center">
				<h1 class="text-info">Home Page</h1>
			</div>
			<form method="post" asp-action="Contact" asp-controller="Account">
				
				<div class="form-group">
				</div><br />

				<div class="form-group">
				</div><br />

				<div class="form-group">
				</div><br />
			</form>

		</div>
	</div>
</div>
