@{
    ViewData["Title"] = "Management";
}

<section id="services-container">
	<h1 class="main">School Of Business & Management Studies</h1>
	<div id="services">
		<div class="box">
			<h2 class="h-secondary center">Course Overview</h2>
			<p class="center">
				The Career Point Commerce College imparts education
				with a judicious blend of academic and real world 
				knowledge in areas of Commerce like Finance, Accounting, 
				Budgeting, Economics etc. Drawing upon the core essence of humanities, 
				sciences and the arts within the practical context of commerce, the curriculum 
				reflects the real needs of industry, empowering students with depth and breadth 
				of knowledge and practical exposure.
                                The Career Point Business College relies on innovative learning methodologies, 
				relevant Indian and global business practices, strong industry linkages, and
				collaboration with other corporate entities to provide a unique learning 
				experience. The College gives student a ring-side understanding of and immersion
				into the complex world of business and commerce.
			</p>
		</div>
		<div class="box">
			<h2 class="h-secondary center">Course Features</h2>
			<p class="center">
				<ul>
					<li>Live Management Projects for better understanding Industry visits</li>
					<li>Exposure to Event Management and other extra-curricular activities</li>
					<li>Well equipped advanced labs</li>
					<li>Highly qualified faculty with practical experience</li>
					<li>Student Development Programs and Technical Workshops</li>
					<li>Lectures by industry experts, entrepreneurs and technocrats</li>
					<li>Paper presentation and opportunity to take part in techno-fests at IITs and NITs</li>
					<li>Quality Classrooms</li>
					<li>Pragati Classes</li>
					<li>Industrial Training</li>
					<li>Various Quizes and Hackathons</li>
				</ul>
			</p>
		</div>
	</div>
</section>
<section id="courses-container">
	<div id="courses">
		<div class="box">
			<h2 class="center">Department of Commerce</h2>
			<ul>
				<li>BBA </li>
				<li> B.Com. (Hons.)</li>
				<li> MBA</li>
				<li>M.Com</li>
				<li>P.hD.</li>
			</ul>
		</div>
		<div class="box">
			<h2 class="center">Department of Management Studies</h2>
			<ul>
				<li>BHMCT </li>
				<li> B.Sc(Hotel Management)</li>
				<li> M.Sc(Hotel Management)</li>
				<li>MHMCT</li>
				<li>P.hD.</li>
			</ul>
		</div>
	</div>
</section>

