*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

.navlist{
    width: 100%;
    position: fixed;
    padding: 2px;
    background-color: antiquewhite;
    
}

.navlist ul{
    display: flex;
    list-style: circle;
    float:right;

}
#logo{
   position: fixed;
   top:0;
   left:0;
   width:17%;
}

.navlist ul li{
    display: inline;
   

}
.navlist ul li h4{
    font-family: sans-serif;

}

.navlist ul a{
    display: block;
    margin-left: 20px;
    font-family: sans-serif;
    font-size:20px;
    color: rgb(6, 7, 7);
    text-decoration: none;
    padding:25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align:right;
    

}

.navlist ul a:hover{
    color:blueviolet;
    float:left;
}



.main-box{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(61, 61, 223, 0.8),rgba(0,0,50,0.8)),url(Images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65vh;
    text-align: center;
}
.main-box h1{
    color:rgb(253, 253, 253);
    font-style:normal;
    font-size: 50px;
    font-weight: bold;
    word-spacing: 10px;
    margin-bottom: 18px;
    font-family: sans-serif;
    
}
.main-box p{
    word-spacing: 10px;
    color:rgb(233, 233, 233);
    font-style:normal;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    letter-spacing: 1.8px;
}
.main-box button{
    padding: 15px;
    border-radius: 1rem;
    background: wheat;
    outline: none;
    border: 1px solid black;
    }

    .main-box button:hover{
        background-color: brown;
    }

    .container{
        width:80%;
        margin: auto;
        margin-bottom: 40px;
    }

    .container h2{
        margin:40px;
        text-align: center;
        color: black;
        font-family: sans-serif;
        letter-spacing: 4px;
    }

    .container .row{
        display: flex;
        justify-content: space-between;
    }
 
    .container .column{
        width: 30%;
        overflow: hidden;
        height: auto;
        position: relative;
    }
    
    .container .column img{
        width: 100%;
        height: 300px;
    }

    .container .column a:last-child{
        position: absolute;
        display: block;
        width: 100%;
        height: 0;
        top: 99%;
        bottom: 0;
        left: 0;
        bottom: 0;
        background-color: #00ff4cc0;
        text-align: center;
        padding-top: 14vw;
        font-size:25px;
        font-weight: bold;
        color: #000000;
        text-decoration:solid;
     }
     .container .column:hover a:last-child{
        height: 100%;
        top: 0;
     }

     .container1{
        width:100%;
        height:100vh;
        background-image: linear-gradient(rgba(61, 61, 223, 0.8),rgba(0,0,50,0.8)), url(Images/bg1.png);
        background-position: center;
        background-size: cover;
        position: relative;
     }

     .form-box{
        width: 90%;
        max-width: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #fff;
        padding: 50px 60px 70px;
        text-align: center;
     }

     .form-box h1{
        font-size: 35px;
        margin-bottom: 65px;
        color: rgb(11, 2, 63);
        position: relative;
     }

     .form-box h1::after{
        content:'';
        height:4px;
        width:32px;
        border-radius: 3px;
        background: #0e0124;
        position: absolute;
        bottom: -12px;
        left:50%;
        transform: translate(-50%);
     }

     .input-field{
        background: #eaeaea;
        margin:15px 0;
        border-radius: 3px;
        display: flex;
        align-items: center;
        max-height: 65px;
        transition: max-height 0.5s;
        overflow: hidden;
     }

     input{
        width:100%;
        background: transparent;
        border: 0;
        outline:0;
        padding:18px 15px;
     }

     .input-field i{
        margin-left: 15px;
        color:#999;
     }

     form p{
        text-align: left;
        font-size: 18px;

     }

     form p a{
        text-decoration: none;
        color:#3c00a0;
     }

     .btn-field{
        width:100%;
        justify-content: space-between;
        display: flex;
     }

     .btn-field button{
        flex-basis: 50%;
        background: #0e0124;
        color:#fff;
        height:40px;
        border-radius: 20px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: background 1s;
     }
     
     .input-group{
        height:280px;
        
     }

     .btn-field button.change{
        background: #eaeaea;
        color:#999
     }
    

     
